---
// const platform = "github";
// const username = "withastro";
import Social from "./Social.astro";
---

<!-- <style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style> -->
<footer>
    <!-- <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p> -->
    <Social platformName="X" platform="twitter" username="astrodotbuild" />
    <Social platformName="GitHub" platform="github" username="withastro" />
    <Social
        platformName="YouTube"
        platform="youtube"
        username="astrodotbuild"
    />
    <p class="footer-text">
        &copy; <span id="year"></span> FrontEndFlux. All rights reserved. Powered
        by the wonderful <a href="https://astro.build/">Astro</a> JS framework.
    </p>
    <script>
        import "../scripts/year.js";
    </script>

    <!-- Iubenda Privacy Policy -->
    <a
        href="https://www.iubenda.com/privacy-policy/38493909"
        class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe"
        title="Privacy Policy ">Privacy Policy</a
    ><script type="text/javascript">
        (function (w, d) {
            var loader = function () {
                var s = d.createElement("script"),
                    tag = d.getElementsByTagName("script")[0];
                s.src = "https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s, tag);
            };
            if (w.addEventListener) {
                w.addEventListener("load", loader, false);
            } else if (w.attachEvent) {
                w.attachEvent("onload", loader);
            } else {
                w.onload = loader;
            }
        })(window, document);
    </script>

    <!-- Iubenda Cookie Policy -->
    <a
        href="https://www.iubenda.com/privacy-policy/38493909/cookie-policy"
        class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe"
        title="Cookie Policy ">Cookie Policy</a
    ><script type="text/javascript">
        (function (w, d) {
            var loader = function () {
                var s = d.createElement("script"),
                    tag = d.getElementsByTagName("script")[0];
                s.src = "https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s, tag);
            };
            if (w.addEventListener) {
                w.addEventListener("load", loader, false);
            } else if (w.attachEvent) {
                w.attachEvent("onload", loader);
            } else {
                w.onload = loader;
            }
        })(window, document);
    </script>
</footer>
