---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-P9SDL557");
        </script>
        <!-- End Google Tag Manager -->

        <!-- Iubenda Cookie banner -->
        <script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {
                siteId: 3933071,
                cookiePolicyId: 38493909,
                lang: "en",
                storage: { useSiteId: true },
            };
        </script>
        <script
            type="text/javascript"
            src="https://cs.iubenda.com/autoblocking/3933071.js"></script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"
        ></script>
        <script
            type="text/javascript"
            src="//cdn.iubenda.com/cs/tcf/safe-tcf-v2.js"></script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"
        ></script>
        <script
            type="text/javascript"
            src="//cdn.iubenda.com/cs/iubenda_cs.js"
            charset="UTF-8"
            async></script>
        <!-- End Iubenda Script -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- Umami analytics script -->
        <!-- <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="25e3c34e-a0b9-42d2-b2a1-93e6cdc2259f"></script> -->

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-P9SDL557"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->

        <Header />
        <h1>{pageTitle}</h1>

        <slot />
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
